<a href="https://colab.research.google.com/github/kingajutrzenka/Programowanie-i-algorytmika/blob/main/home/lista4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Nauka**

## **Zadanie 1.**


---


Jaś zapomniał, na czym polega dzielenie z resztą. Dlatego, aby sprawdzić, czy liczba naturalna n dzieli się przez 3 korzysta z innej własności. Sumuje cyfry tej liczby, potem cyfry powstałej sumy i powtarza to sumowanie, aż uzyska jedną z cyfr 3, 6 lub 9.

Napisz funkcję, która oblicza sumę cyfr danej liczby naturalnej.

Użyj tej funkcji w programie, aby metodą Jasia sprawdzić, czy dana liczba naturalna jest podzielna przez 3. Twój program powinien odpowiedzieć TAK, jeśli n dzieli się przez 3, natomiast NIE jeśli n nie dzieli się przez 3.

Przykład: Dla liczby n=23451 Jaś oblicza: 2+3+4+5+1=15 i znów 1+5=6. Stąd wie, że liczba n jest podzielna przez 3

In [1]:
n = str(input("Podaj liczbe: "))

Podaj liczbe: 1

In [2]:
def suma(n):
  i = 0
  for _ in n:
    i += int(_)
  return i

In [3]:
suma(n)

1

In [4]:
while int(n) > 9:
  n = suma(n)
  n = str(n)
n = int(n)
if n == 9 or n == 3 or n == 6:
  print("TAK")
else:
  print("NIE")

NIE

## **Zadanie 2**


---


Mówimy, że liczba n jest podobna do cyfry p, jeśli obliczając sumę cyfr tej liczby , a potem sumę cyfr powstałej sumy odpowiednio wiele razy, otrzymamy cyfrę p.

Na przykład: liczba 698799 jest podobna do cyfry 3, bo 6+9+8+7+9+9=48, 4+8= 12, 1+2 =3

Dana jest liczba naturalna n nie większa niż 2 000 000, podana z klawiatury. Napisz funkcję obliczającą sumę cyfr liczby naturalnej i wykorzystaj ją w programie wskazującym, do jakiej cyfry jest podobna liczba n.

In [5]:
n = str(input("Podaj liczbe: "))

Podaj liczbe: 1

In [6]:
n0 = n
while int(n) > 9:
  n = suma(n)
  n = str(n)
print(f"liczba {n0} jest podobna do {n}")

liczba 1 jest podobna do 1

## **Zadanie 3.**


---


Liczba pseudobinarna, to liczba, która w systemie dziesiętnym jest zapisana tylko za pomocą cyfr 1 lub 0. Takimi liczbami są np. 1100 (tysiąc sto), 101 (sto jeden), ale nie są nimi np. liczby 123, 1092.

a) Napisz funkcję, która zwróci wartość True, jeśli liczba jest pseudobinarna, a jeśli nie jest – zwróci wartość False.

Użyj tej funkcji do znalezienia wszystkich liczb pseudobinarnych z zakresu od 1 do n podanego z klawiatury.

In [7]:
n = str(input("Podaj liczbę: "))

Podaj liczbę: 1

In [8]:
def bi(n):
  o = 0
  for _ in n:
    if int(_) == 0 or int(_) == 1:
      pass
    else:
      o += 1
  return o == 0

In [9]:
bi(n)

True

In [10]:
a = int(input("Podaj a: "))

Podaj a: 1

In [11]:
lista = []
for liczba in range(1, a+1):
  if bi(str(liczba)) == True:
    lista.append(liczba)
  else:
    pass
lista

[1]

## **Zadanie 4**


---


Liczby lustrzane pierwsze to para liczb pierwszych, z których jedna powstaje przezzapisanie cyfr dziesiętnych drugiej w odwrotnej kolejności. Przykładami  takich liczb są: 13 i 31, 17 i 71, 37 i 73, 79 i 97, 107 i 701,...

Napisz funkcję sprawdzającą, czy liczba naturalna n jest liczbą pierwszą.

Wykorzystaj tę funkcję do napisania programu sprawdzającego, czy podana z klawiatury liczba naturalna m, m<2000000, wraz z liczbą k powstałą z zapisania cyfr liczby m w odwrotnej kolejności, są lustrzanymi liczbami pierwszymi

In [12]:
n = int(input("Pierwsza liczba: "))

Pierwsza liczba: 1

In [13]:
def pierwsza(n):
   o = 0
   for _ in range(2, n+1):
     if (n%_) == 0:
       o += 1
   return o == 1

In [28]:
pierwsza(123)

False

In [42]:
m = int(input("Podaj liczbe: "))
if pierwsza(m) == True:
  k = str(m)[::-1]
print(f"m - {m}")
print(f"k - {k}")

Podaj liczbe: 107
m - 107
k - 701

## **Zadanie 5**


---


Liczba sympatyczna, to co najmniej dwucyfrowa liczba naturalna, w której każda cyfra jej zapisu czytanego od lewej do prawej jest mniejsza od następnej. Na przykład liczba 1489 jest sympatyczna, a liczba 1498 nie jest sympatyczna.

**a)** Napisz funkcję o nazwie sympatyczna, która zwraca wartość True, jeśli liczba jest sympatyczna, a wartość False w przeciwnym wypadku.

**b)** Napisz program, który wykorzysta funkcję sympatyczna do sprawdzenia, czy liczba podana z klawiatury jest sympatyczna i wypisze odpowiedni komunikat na ekranie.

**c)** Rozszerz program z punktu b) do programu, który wypisze na ekranie wszystkie
liczby sympatyczne z przedziału domkniętego [a,b], gdzie a i b są liczbami
naturalnymi podanymi przez użytkownika z klawiatury, takimi, że a<=b.

### **a)**

In [89]:
def sympatyczna(n):
 if len(str(n)) > 1:
  dod = 0
  for i in range(len(n) - 1):
   if int(n[i + 1])> int(n[i]):
     dod += 1
  return dod == (len(n)-1)
 else:
  return False

### **b)**

In [91]:
n = str(input("Podaj liczbę: "))
sympatyczna(n)

Podaj liczbę: 891

False

### **c)**

In [95]:
a = int(input("Podaj liczbę a: "))
b = int(input("Podaj liczbę b większą lub równą a: "))
lista = []

for _ in range(a, b+1):
  if sympatyczna(str(_)) == True:
    lista.append(_)
lista

Podaj liczbę a: 5
Podaj liczbę b większą lub równą a: 20

[12, 13, 14, 15, 16, 17, 18, 19]

In [94]:
a = int(input("Podaj liczbę a: "))
b = int(input("Podaj liczbę b większą lub równą a: "))

for _ in range(a, b+1):
  if sympatyczna(str(_)) == True:
    print(_)

Podaj liczbę a: 5
Podaj liczbę b większą lub równą a: 20
12
13
14
15
16
17
18
19

## **Zadanie 6.**


---


Napisz dwie funkcje iteracyjne, jedną obliczającą **NWD dwóch liczb naturalnych**, drugą obliczającą **NWW dwóch liczb naturalnych**. Wykorzystaj te funkcje do rozwiązania zadania:

Dane są cztery liczby naturalne (bez zera) a, b, c, d nie większe niż 100, podawane z klawiatury, a i b to odpowiednio licznik i mianownik jednego ułamka, c i d to odpowiednio licznik i mianownik drugiego ułamka. Napisz program, który sprowadza ułamki a/b i c/d do wspólnego mianownika.

Przykład: Dla 1/3 i 1/2 wynikiem jest np. 2/6 i 3/6.

In [ ]:
m = int(input("Podaj liczbę: "))
n = int(input("Podaj liczbę: "))

In [119]:
def NWD(m, n):
    while m != n:
        if m > n:
            m = m - n
        else:
            n = n - m
    return m

In [120]:
NWD(45, 123)

3

In [123]:
def NWW(m, n):
  return int((m * n) / NWD(m, n))

In [125]:
NWW(45, 45)

45

In [136]:
a = int(input("Podaj liczbę naturalną <= 100: "))
b = int(input("Podaj liczbę naturalną <= 100: "))
c = int(input("Podaj liczbę naturalną <= 100: "))
d = int(input("Podaj liczbę naturalną <= 100: "))

Podaj liczbę naturalną <= 100: 25
Podaj liczbę naturalną <= 100: 5
Podaj liczbę naturalną <= 100: 3
Podaj liczbę naturalną <= 100: 25

In [137]:
z = NWW(b, d)
a = (z//b * a)
c = (z//d * c)
print(f"a/b = {a}/{z}")
print(f"c/d = {c}/{z}")

a/b = 125/25
c/d = 3/25

## **Zadanie 7**


---


Wykorzystaj tę funkcję NWD obliczającą największy wspólny dzielnik dwóch liczb
naturalnych do rozwiązania zadania:

Dane: n liczb naturalnych nie większych niż 100, podawanych z klawiatury.

Wynik: Program obliczający NWD wszystkich podanych liczb naturalnych.

Wykorzystaj jak najmniejsza liczbę zmiennych.
Wskazówka: Skorzystaj z własności, że NWD(a,b,c)=NWD(NWD(a,b),c)

In [146]:
n = int(input("Podaj liczbę: "))
x = int(input("Podaj cyfre: "))
for _ in range(1, n):
  x = NWD(x, int(input("Podaj cyfre: ")))
print(x)

Podaj liczbę: 4
Podaj cyfre: 2
Podaj cyfre: 4
Podaj cyfre: 6
Podaj cyfre: 8
2

## **Zadanie 9**


---


Aby zagrać w totolotka musimy wybrać losowo 6 liczb z 49. Chcielibyśmy wybrać te losowe liczby w dokładnie sześciu losowaniach, mając pewność, że kolejno losowana liczba nie powtórzy się. Napisz program, który tak postąpi.

Wskazówka: Jednym ze sposobów jest utworzenie tablicy 49 elementowej z kolejnymi
liczbami od 1 do 49, zamiana pierwszy raz wylosowanej liczby z liczbą z ostatnią w tablicy, drugiej z przedostatnią, itd. i za każdym razem skracanie zakresu losowania o jeden.

Napisz program, który wylosuje w ten sposób sześć różnych liczb.

In [164]:
from random import shuffle

In [165]:
lista = list(range(1,50))

In [166]:
shuffle(lista)

In [168]:
lista[0:6]

[20, 13, 48, 36, 37, 49]

## **Zadanie 10**


---


Danych jest n liczb wylosowanych z przedziału [a, b], gdzie n jest liczbą naturalną mniejszą od 20, a i b są liczbami naturalnymi nie większymi niż 100

Dana jest również liczba naturalna k <= n. Napisz program, który wypisze k-tą w kolejności od końca największą liczbę wśród wylosowanych liczb.

Przykład:
Dane: n=10 , a=2, b=25, wylosowane liczby: 21, 10, 14, 15, 14, 13, 4, 23, 2, 3, k=4
Wynik: 14

In [ ]:
from random import randint

In [179]:
n = int(input("Podaj liczbe <20: "))
a = int(input("Podaj liczbę <= 100: "))
b = int(input("Podaj liczbę <= 100 która jest >= a: "))
k = int(input("Podaj liczbę <= n: "))
lista = []
for i in range(1, n+1):
   lista.append(randint(a, b))
lista.sort()
print(lista)
lista[-k]

Podaj liczbe <20: 19
Podaj liczbę <= 100: 20
Podaj liczbę <= 100 która jest >= a: 80
Podaj liczbę <= n: 3
[23, 23, 28, 42, 43, 46, 49, 50, 52, 52, 55, 57, 68, 73, 74, 75, 76, 78, 80]

76