<a href="https://colab.research.google.com/github/kingajutrzenka/Programowanie-i-algorytmika/blob/main/classes/911.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Zadanie 9.
Aby zagrać w totolotka musimy wybrać losowo 6 liczb z 49. Chcielibyśmy wybrać te losowe
liczby w dokładnie sześciu losowaniach, mając pewność, że kolejno losowana liczba nie
powtórzy się. Napisz program, który tak postąpi.

Wskazówka: Jednym ze sposobów jest utworzenie tablicy 49 elementowej z kolejnymi
liczbami od 1 do 49, zamiana pierwszy raz wylosowanej liczby z liczbą z ostatnią w tablicy,
drugiej z przedostatnią, itd. i za każdym razem skracanie zakresu losowania o jeden. Napisz
program, który wylosuje w ten sposób sześć różnych liczb.

In [ ]:
from random import randrange

In [ ]:
n=5
for i in range(n):
 i = randrange(1, 49)
 print(i)

4
13
35
21
3

In [ ]:
from random import shuffle
from random import choice

lista = list(range(1, 50))
lista

shuffle(lista)
lista[0:6]

[15, 2, 27, 12, 47, 30]

# Zadanie 10.

Danych jest n liczb wylosowanych z przedziału [a, b], gdzie n jest liczbą naturalną mniejszą
od 20, a i b są liczbami naturalnymi nie większymi niż 100. Dana jest również liczba
naturalna k <= n. Napisz program, który wypisze k-tą w kolejności od końca największą
liczbę wśród wylosowanych liczb.

Przykład:
Dane: n=10 , a=2, b=25, wylosowane liczby: 21, 10, 14, 15, 14, 13, 4, 23, 2, 3, k=4
Wynik: 14

In [ ]:
lista = []
for i in range(20):
 lista.append(randrange(1, 50))
lista.sort()
print(lista[-4])
print(lista)

40
[4, 17, 19, 19, 23, 24, 26, 27, 27, 28, 29, 31, 32, 32, 37, 39, 40, 42, 44, 46]

# Zadanie 1.

Polskie imiona żeńskie zawsze kończą się literą a, natomiast imiona męskie, literą różną od
litery a.

Dany jest plik tekstowy imiona.txt, w którym znajdują się imiona żeńskie wpisane po
spacji. Napisz funkcję sprawdzająca, czy dane imię jest imieniem żeńskim. Wykorzystaj tę
funkcję w programie, który wszystkie imiona żeńskie z tego pliku umieści w pliku
panie.txt, a wszystkie imiona męskie umieści w pliku panowie.txt. Imiona powinny
być oddzielone przecinkiem i znakiem spacji oraz w kolejności zgodnej z kolejnością w pliku
imiona.txt.

Dodatkowo, w ostatnim wierszu każdego pliku wynikowego zapisz liczbę umieszczonych w
nim imion.

In [ ]:
def czy_zenskie(imie):
  return imie[-1] == 'a'

czy_zenskie("Anna"), czy_zenskie("Kamil")

(True, False)

In [ ]:
with open('imiona.txt', 'r', encoding="utf-8") as plik:
  for linia in plik:
    lista= linia.strip().split()
    print(lista)

['#', '-*-', 'coding:', 'utf-8', '-*-']
['"""Untitled23.ipynb']
[]
['Automatically', 'generated', 'by', 'Colab.']
[]
['Original', 'file', 'is', 'located', 'at']
['https://colab.research.google.com/drive/1hglKyuUAXD9RphNDF28G-dfoSeEFNXo-']
['"""']
[]
['Anna', 'Kamil', 'Ewa', 'Łukasz', 'Dorota', 'Tomasz', 'Franek', 'Tola']

In [ ]:
iz = 0
im = 0
with open('panie.txt', 'w', encoding="utf-8") as panie, open('panowie.txt', 'w', encoding="utf-8") as panowie:
  for el in lista:
    if czy_zenskie(el):
      panie.write(el + ", ")
      iz += 1
    else:
      panowie.write(el + ", ")
      im += 1
  panie.write("\n" + str(iz))
  panowie.write("\n" + str(im))

In [ ]:
with open('gracz1.txt', 'w', encoding="utf-8") as gr1, open('gracz2.txt', 'w', encoding="utf-8") as gr2:
  for w1, w2 in zip(gr1, gr2):
   n1, n2 = int(w1), int(w2)
   print(n1, n2)

UnsupportedOperation: not readable