<a href="https://colab.research.google.com/github/kingajutrzenka/Programowanie-i-algorytmika/blob/main/Lista3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lista 3 - powtórka**

In [21]:
from random import randint

In [37]:
n = int(input("Podaj ilość liczb jakie mają być wyosowane: "))
lg = [randint(-100, 100) for _ in range(n)]
lg

Podaj ilość liczb jakie mają być wyosowane: 100

[-50,
 -93,
 2,
 -87,
 83,
 -59,
 -41,
 9,
 55,
 -99,
 36,
 -47,
 53,
 83,
 -58,
 -41,
 94,
 38,
 35,
 19,
 14,
 -25,
 51,
 -96,
 -53,
 38,
 -31,
 47,
 -9,
 93,
 -49,
 35,
 -38,
 48,
 69,
 -41,
 14,
 41,
 -73,
 -13,
 -72,
 61,
 4,
 1,
 24,
 -6,
 59,
 -24,
 37,
 72,
 48,
 -68,
 -74,
 0,
 83,
 -89,
 74,
 -31,
 8,
 -27,
 5,
 -89,
 69,
 42,
 47,
 69,
 2,
 -97,
 42,
 61,
 -34,
 66,
 11,
 35,
 1,
 42,
 48,
 -40,
 16,
 95,
 -9,
 -46,
 87,
 -31,
 0,
 99,
 11,
 -13,
 92,
 -30,
 100,
 96,
 -89,
 72,
 81,
 -29,
 -86,
 -39,
 4,
 -62]

## **Zadanie 1**

In [23]:
for liczba in lg:
  if (liczba % 2) == 0:
    print(liczba)
  else:
    pass

46
-74
-84
78
18
-28
-64

## **Zadanie 2**

In [24]:
lg[1::2]

[-74, 78, -28, -53, 31]

## **Zadanie 3**

In [25]:
lg[::-1]

[31, -64, -53, -97, -28, 18, 78, -84, -74, 46]

## Zadanie 4

In [26]:
lgp = [liczba for liczba in lg
    if (-99<=liczba>=-10) or (10>=liczba<=99)]
lgp

[46, -74, -84, 78, 18, -28, -97, -53, -64, 31]

## **Zadanie 5**

In [28]:
lgpi = [liczba for liczba in lg
    if (-100<liczba<-10) or (9<liczba<100)]
lgpi

[46, -74, -84, 78, 18, -28, -97, -53, -64, 31]

## **Zadanie 6**


---
Przypomnij sobie, bo chuja potrafisz XD

In [29]:
n = int(input("Podaj liczbę do zadania 6: "))

Podaj liczbę do zadania 6: 5

In [30]:
def fun6(n):
  i=0
  while i*i<n:
    i+=1
  return (i ** 2) == n
fun6(n)

False

In [32]:
lista_testowa = [0, 10, 4, 81, 12, 16, 89, 9023, 2344, 256, 400]

In [33]:
listaZ6 = [lista for lista in lista_testowa
           if fun6(lista) == True]
listaZ6

[0, 4, 81, 16, 256, 400]

## **Zadanie 7**


---
nie umiem XD

In [34]:
lista_t = [1, 2, 3, 4, 5, 6, 6, 4, 3, 2, 1]

In [ ]:
for liczby in lista_t:
  if lista_t[liczba + 1] >= liczba:

## **Zadanie 8**

In [39]:
a = int(input("Podaj pierwszą liczbę: "))
b = int(input("Podaj drugą liczbę która jest większa lub równa pierwszej: "))
if b>=a:
  minionek = [liczba for liczba in lg
              if a<=liczba<=b]
minionek

Podaj pierwszą liczbę: 5
Podaj drugą liczbę która jest większa lub równa pierwszej: 6

[5]

In [43]:
# wersja 2
a = int(input("Podaj pierwszą liczbę: "))
b = int(input("Podaj drugą liczbę która jest większa lub równa pierwszej: "))
for liczba in lg:
  if a<=liczba<=b:
    print(liczba)

Podaj pierwszą liczbę: 5
Podaj drugą liczbę która jest większa lub równa pierwszej: 10
9
8
5

##  **Podsumowanie**

**Do zapamiętania:**

- by stworzyć listę z losowymi n liczbami nałkowitymi z przedziału (x,y) używamy wzoru:

**lista = [randint(-100, 100) for _ in range(n)]**
- by wyświetlić co x element  z listy od danego elementu y:

**lista[y::x]**
- by ładniej stworzyć liste gdzie używamy for używamy schematu:

*nowa_lista = (**liczba** for **liczba** in lista)*